.footer {
    background-color: var(--color-black);

    &__wrap {
        padding: 6.875rem 0 7.1875rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 3.75rem;
    }
    &__footer-list {
        grid-column-start: 3;
        grid-column-end: 6;
    }
}
.footer-number {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__tel {
        font-size: 2.875rem;
        color: var(--color-white);
    }
    &__feedback {
        position: relative;
        margin-top: 1.8125rem;
        font-size: 1.25rem;
        color: var(--color-grey);

        &::before {
            /*нижнее подчеркивание*/
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 0.0625rem;
            background: #979ca1;
            transition: 0.3s ease-in-out;
            transform-origin: left center; /*эфект для подчеркивания*/
        }
        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-white);

            &::before {
                transform: scaleX(0);
                background: #fff;
            }
        }
    }
}
.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.75rem;
    margin: 0.25rem 0 0;
}
.footer-list-services {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-size: 1.25rem;
        color: var(--color-white);
        text-transform: uppercase;
        margin-bottom: 1.25rem;

        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-green);
        }
    }
    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-gap: 1.25rem;
    }
    &__link {
        color: var(--color-grey);
        font-size: 1.25rem;

        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-white);
        }
    }
}
.footer-list-company {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;

    &__title {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        color: var(--color-white);
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-green);
        }
    }
    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-gap: 1.25rem;
    }
    &__link {
        color: var(--color-grey);
        font-size: 1.25rem;

        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-white);
        }
    }
}
.footer-list-menu {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: -2.5rem;
    font-size: 1.25rem;
    text-transform: uppercase;

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        grid-gap: 1.25rem;
    }
    &__item {
        a {
            color: var(--color-white);
            font-weight: 500;
        }
        &:hover {
            a {
                text-decoration: none;
                transition: 0.3s ease-in-out;
                color: var(--color-green);
            }
        }
    }
}
.footer-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.3125rem;
}
.footer-link-presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__title {
        font-size: 1.25rem;
        color: var(--color-grey);
        margin-bottom: 1.4375rem;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.1875rem 2.6875rem;
        position: relative;
        overflow: hidden;
        background-color: var(--color-black);
        border: 0.0625rem solid #5cb246;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #5cb246;
            transition: 0.3s ease-in-out;
            transform: translateY(100%);
        }

        &:hover {
            border-bottom: 1px solid #5cb246;

            span {
                z-index: 1;
            }
            &::before {
                transform: translateY(0); /*выезжает от 0*/
                transition: 0.3s ease-in-out;
            }
        }
        span {
            font-size: 0.875rem;
            font-weight: 500;
            text-transform: uppercase;
            color: var(--color-white);
            transition: 0.3s ease-in-out;
        }
    }
}
.footer-link-mail {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4.875rem;

    &__title {
        font-size: 1.25rem;
        color: var(--color-grey);
    }
    &__mail {
        margin-top: 0.8125rem;
        font-size: 1.375rem;
        color: var(--color-white);

        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-green);
        }
    }
}
