.block-pros {
    position: relative;

    &__wrap {
        padding: 5.125rem 0 6.25rem;
    }
}
.block-pros-main {
    display: flex;
    align-content: space-between;
    margin: auto 0 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3.75rem;
    width: 100%;

    &__title {
        font-size: 2.625rem;
        font-weight: 500;
        text-transform: uppercase;
        grid-column-start: 1;
        grid-column-end: 4;
        line-height: 140%;

        span {
            font-size: 2.625rem;
            font-weight: 500;
            color: var(--color-green);
            text-transform: uppercase;
        }
    }
    &__text {
        margin: 0.3125rem 0.9375rem 0 0;
        display: flex;
        flex-direction: column;
        grid-column-start: 5;
        grid-column-end: 12;
    }
    &__subtitle {
        font-size: 1.875rem;
        line-height: 130%;
    }
    &__link {
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 2.9rem;
        width: 17%;

        &::before {
            /*нижнее подчеркивание*/
            content: "";
            position: absolute;
            bottom: -0.3125rem;
            left: 0;
            width: 100%;
            height: 0.0625rem;
            background: #28313c;
            transition: 0.3s ease-in-out;
            transform-origin: left center; /*эфект для подчеркивания*/
        }
        &:hover {
            text-decoration: none;
            transition: 0.3s ease-in-out;
            color: var(--color-green);

            &::before {
                transform: scaleX(0);
                background: #5cb246;
            }
        }
    }
}
.block-pros-pic {
    width: 100vw;
    height: 46.25rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7.875rem 0 0;

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}
